html,body{
  height:100%;
  background-color: #888980;
}

body {
  border-top: 1px solid #f84;
  border-bottom: 1px solid #fff;
}

button {
  margin-top: 4px;
}

textarea {
  width: 80%;
  height: 200px;
}

select {
  width: 80%;
}

.row, .col.mainarticle, .col.tools {
  color: #606064;
  background-color: #fff;
}

.col h1 {
  margin-top: 93px;
  padding-bottom: 77px;
  color: #789;
  border-bottom: 1px solid #ddd;
}

.col h1 small {
  font-size: 0.5em;
  color: #aaa;
  margin-left: 30px;
  display: inline-block;
  vertical-align: middle;
}

.tools {
  padding: 10px;
  height: 100%;
  border-bottom: 1px solid #fff;
}

.tool {
  width: 256px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.tool h1 {
  font-size: 14px;
  color: #e73;
}

.wani-module {
  border: 1px solid #888;
  background-color: #808a90;
  color: #fff;
  position: relative;
  width: 256px;
  margin: 2px;
}

.wani-module.synth {
  background-color: #80908a;
}

.wani-module h1 {
  color: #fff;
  padding: 3px;
  margin: 2px;
}

.wani-module .js-remove-module {
  float: right;
  position: absolute;
  right: 0px;
  top: 0x;
}

.knobs,.params {
  display: block;
}

.param-wrapper {
  width: 64px;
  height: 48px;
  text-align: center;
}

.js-module-url {
  width: 80%;
}

footer {
  width: 100%;
  margin: 30px 0 0 0;
  padding: 10px;
  background-color: #888980;
  color: #dadacf;
  border-radius: 5px 5px 0 0;
  border-top: 1px solid #def;
  border-right: 1px solid #def;
}

footer p {
  text-align: right;
}

footer a {
  color: #f84;
  font-style: bold;
}

footer a:hover {
  color: #fff;
  font-style: bold;
  text-decoration: underline;
}


.wani-no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.wani-grabbing {
  cursor: move !important;
}

.wani-kb {
  height: 70px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  background-color: #abc;
}

.wani-kb-wk {
  position: absolute;
  top: 0px;
  border-right: 1px solid #abc;
  border-bottom: 2px solid #424033;
  background-color: #8f8073;
/*  background-color: #fff; */
  border-radius: 0 0 2px 2px;
  z-index: 2;
}

.wani-kb-bk {
  height: 60%;
  position: absolute;
  top: 0px;
  border-right: 1px solid #abc;
  background-color: #f84;
/*  background-color: #000; */
  border-radius: 0 0 2px 2px;
  z-index: 4;
}

.wani-kb-bk:hover {
  background-color: #fca;
}

.wani-kb-wk:hover {
  background-color: #654;
}

.wani-kb-key-playing {
  background-color: #abc !important;
}

.wani-kb-key-playing.wani-kb-wk {
  z-index: 3;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-shadow: 0 0 5px #def;
}

.wani-kb-key-playing.wani-kb-bk {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-shadow: 0 0 5px #def;
}


.wani-knob-box {
  position: relative;
  display: inline-block;
  margin-left: -2px;
}

.wani-knob-backsheet {
  position: absolute;
  z-index: 300;
}

.wani-knob-knob {
  border: 1px solid #abc;
  z-index: 200;
}

.wani-knob-knob.wani-knob-active {
  box-shadow: 0 0 5px #def;
  border: 1px solid #fff;
  background-color: #abc;
  z-index: 400;
}

.wani-knob-knob.wani-knob-active .wani-knob-point {
  box-shadow: 0 0 5px #def;
  border: 1px solid #fff;
  background-color: #abc;
  z-index: 400;
}


.wani-knob-knob {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #8f8073;
  cursor: pointer;
}

.wani-knob-point {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #f84;
  z-index: 9;
}

.wani-knob-title {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wani-knob-title span {
  font-size: 11px;
  color: #fff;
  margin: 0;
  padding: 0;
  vertical-align: top;
  display: inline-block;
}

.wani-knob-value {
  text-align: center;
  vertical-align: top;
  font-size: 0.8em;
  overflow: hidden;
}

.wani-knob-activevalue {
  z-index: 1000000;
  overflow: hidden;
  display: none;
  background-color: #789;
  color: #fff;
  border: 1px solid #def;
  text-align: center;
  height: 24px;
}



